name: 'CaseTalk'
scopeName: 'casetalk'
type: 'tree-sitter'
parser: 'tree-sitter-casetalk'

fileTypes: [
  'exp'
]

firstLineRegex: [
  # EXPFILE
  '^\[EXPFILE\]'
]

injectionRegExp: '(CaseTalk|casetalk|Casetalk)$'

folds: [
  {
    type: ['comment', 'fact', 'header'],
  }
]

comments:
  start: '; '

scopes:
  'program': 'casetalk'
  'header': 'entity.name.section.group-title.ini'
  'comment': 'comment.line.semicolon.ini'
  'fact': 'string.quoted.double.ini'
  'tag': 'entity.name.section.group-title.ini'
