name: 'CaseTalk'
scopeName: 'casetalk'
type: 'tree-sitter'
parser: 'tree-sitter-casetalk'

fileTypes: [
  'exp'
]

firstLineRegex: [
  # EXPFILE
  '^[EXPFILE]'
]

injectionRegExp: '(CaseTalk|casetalk|Casetalk)$'

folds: [
  {
    type: ['comment', 'fact', 'header'],
  }
]

comments:
  start: '; '

scopes:
  'program': 'casetalk'
  'header': 'keyword.operator'
  'comment': 'comment.line'
  'fact': 'string.quoted'
  'tag': 'keyword.operator'
